body {
  font-family: "Helvetica Neue", "Segoe UI", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  line-height: 1;
  line-height: 1;
  margin: 0;
  padding: 1rem;
}


.thread-time {
  font-size: 10px;
}