body {
  font-family: "Helvetica Neue", "Segoe UI", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 15px;
  line-height: 1.7;
  margin: 0;
  padding: 30px;
}



.thread {
  float: right;
}