:root {
    --menu-bar-height: 5rem;
}

body {
    font-family: "Helvetica Neue", "Segoe UI", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    line-height: 1;
    padding: 1rem;
    max-height: 100%;
    width: 100%;
    position: fixed;
    overflow: hidden;
}

li {
    list-style: none;
}
.thread-time {
    font-size: 10px;
}

.full-width {
    width: 100%;
}

.hidden {
    display: none;
}

.scroll-area-container {
    overflow: scroll !important;
    display: inline-flex;
    height: 100%;
    width: 100%                                                                                                                                                                                                                                                                                                                                                                                                     ;
    position: fixed;
}

.thread-list-element {
    padding-top: .1rem;
    padding-bottom: .1rem;
    text-align: right;
}

.thread-list-photo {
    border-radius: 50%;
}

.thread-list-name {
    position: relative;
    margin-top: .5rem;
}

.thread {
    border-bottom: solid 1px;

}

/* Message */

.message-sender {
    border-radius: 50%;
    border: solid;
    height: 2rem;
    width: 2rem;
    text-align: center;
}

.message-body {
    color: white;
    word-wrap: break-word;
    border-radius: 1rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    height: 100%;
}

.message-time {
    font-size: 10px;
    color: darkgray;
}

.message-input {

    padding-bottom: 2rem;
    padding-left: 1rem;

}

.uiScrollableArea {
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
    direction: ltr;
    height: calc(100% - var(--menu-bar-height));
    position: relative;

}

.menu-bar {
    background: lightyellow;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin: 0;
    padding: 0;
    height: var(--menu-bar-height);
    margin-bottom: 1rem;
}

.menu-bar-element {
    align-self: center;
    margin: auto;
}

.me {
    color: lightgray;
    border-color: lightgray;
}

.friend {
    color: darkgray;
    border-color: darkgray;
}

::-webkit-scrollbar {
    display: none;
}

.foreign {
    display: flex;
    flex-flow: row wrap;
    /* This aligns items to the end line on main-axis */
    justify-content: flex-end;
}

.own {
    display: flex;
    flex-flow: row wrap;
    /* This aligns items to the end line on main-axis */
    justify-content: flex-start;
}

.foreign-message-background {
    background: teal;
}

.own-message-background {
    background: tomato;
}

